.timeFrameSelect {
  width: 220px;
}

.tablePaper {
  flex: 1;
  position: relative;
}

.tableContainer {
  position: absolute;
  overflow-y: auto;
  max-height: 100%;
}

.rectangleDivider {
  background-color: var(--mui-palette-grey-50);
  height: 20px;
}

.halfTopAndBottomPadding {
  &:global(.MuiTableCell-root) {
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

.sectionHeaderCaption {
  color: var(--mui-palette-text-secondary);
}

.performanceCell {
  white-space: nowrap;
}

.noData {
  &:global(.MuiTableCell-root) {
    color: var(--mui-palette-text-disabled);
  }
}

.aggregatorCell {
  align-items: center;
  display: flex;
  gap: 8px;
  white-space: nowrap;

  img {
    height: 32px;
    width: 32px;
  }
}

.paddingCell {
  width: 16px;
}

.noLeftPaddingCell {
  &:global(.MuiTableCell-root) {
    padding-left: 0;
  }
}

.noBottomBorderCell {
  &:global(.MuiTableCell-root) {
    border-bottom: none;
  }
}

.lastPerformanceDataRow {
  :global(.MuiTableCell-root) {
    padding-bottom: 24px;
  }
}
