.timeFrameSelect {
  width: 220px;
}

.tablePaper {
  flex: 1;
  position: relative;
}

.tableContainer {
  position: absolute;
  overflow-y: auto;
  max-height: 100%;
}

.rectangleDivider {
  background-color: var(--mui-palette-grey-50);
  height: 20px;
}

.sectionHeaderCaption {
  color: var(--mui-palette-text-secondary);
}

.performanceCell {
  white-space: nowrap;
}

.noData {
  &:global(.MuiTableCell-root) {
    color: var(--mui-palette-text-disabled);
  }
}

.aggregatorCell {
  align-items: center;
  display: flex;
  gap: 8px;
  white-space: nowrap;

  img {
    height: 32px;
    width: 32px;
  }
}

.paddingCell {
  width: 16px;
}

.tableRow {
  :nth-last-child(2) {
    padding-right: 0;
  }

  :nth-child(2) {
    padding-left: 0;
  }
}

.performanceByJobTypeRow {
  :global(.MuiTableCell-root) {
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

.performanceByJobTypeRow.lastPerformanceDataRow {
  :global(.MuiTableCell-root) {
    padding-bottom: 24px;
  }
}

.performanceByJobTypeRow:not(.lastPerformanceDataRow) {
  .paddingCell {
    border-bottom: none;
  }
}

.sectionHeaderRow {
  &:global(.MuiTableCell-root) {
    border-bottom: none;
  }

  &:global(.MuiTableCell-root) {
    padding-bottom: 8px;
    padding-top: 8px;
  }
}
