.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 168px;
  min-width: 168px;
  width: 168px;
}

.formGroup {
  :global(.MuiFormControlLabel-root) {
    margin-left: unset;
  }
}

.input {
  height: 42px;
}
