.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.chipAvatar {
  &:global(.MuiAvatar-root) {
    background-color: var(--mui-palette-common-white);
  }
}

.table {
  &:global(.MuiTableContainer-root) {
    background-color: var(--mui-palette-common-white);
    border: solid 1px var(--mui-palette-divider);
    border-collapse: separate;
    border-radius: var(--mui-shape-borderRadius);
    width: unset;
  }
}

.institutionLogo {
  height: 32px;
  width: 32px;
}

.institutionCell {
  align-items: center;
  display: flex;
  gap: 8px;
  flex-direction: row;
}

.aggregatorsCell {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;

  :global(.MuiToolbar-root) {
    padding-left: 0;
  }
}
