.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.chipAvatar {
  &:global(.MuiAvatar-root) {
    background-color: var(--mui-palette-common-white);
  }
}

.tableWrapper {
  flex: 1;
}

.filterTableContainer {
  display: flex;
  gap: 24px;
}

.chipSkeleton {
  border-radius: 16px;
}

.institutionLogo {
  height: 32px;
  width: 32px;
}

.institutionCell {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 32px;
  flex-direction: row;
}

.aggregatorsCell {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerButtonContainer {
  display: flex;
  column-gap: 12px;
}

.paginationContainer {
  border-top: solid 1px var(--mui-palette-divider);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  :global(.MuiToolbar-root) {
    padding-left: 0;
  }
}

.tableHeadCell {
  align-items: center;
  display: flex;
  gap: 4px;
}

.tableRowHover {
  cursor: pointer;
}
