.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;

  max-height: calc(100vh - var(--page-content-margin-top));
  overflow-y: hidden;
}

.chipAvatar {
  &:global(.MuiAvatar-root) {
    background-color: var(--mui-palette-common-white);
  }
}

.table {
  &:global(.MuiTableContainer-root) {
    background-color: var(--mui-palette-common-white);
    border: solid 1px var(--mui-palette-divider);
    border-bottom: none;
    border-collapse: separate;
    border-radius: 4px 4px 0 0;

    width: unset;
  }
}

.institutionLogo {
  height: 32px;
  width: 32px;
}

.institutionCell {
  align-items: center;
  display: flex;
  gap: 8px;
  flex-direction: row;
}

.aggregatorsCell {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}
