.cell {
  &:not(:hover) {
    :global(.MuiIconButton-root) {
      display: none;
    }
  }
}

.container {
  position: relative;
}

.copyButton {
  background-color: var(--mui-palette-common-white);
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
