# Port of the service
PORT=8089

# Environment (dev, prod)
ENV=dev

# Token Cache filename
TOKEN_CACHE_FILE=brkn-arrw.txt

# Base URL of the Client (Web UI)
CLIENT_ORIGIN_URL=http://localhost:3031

# Auth0 parameters, found in your Auth0 dashboard.
AUTH0_DOMAIN=dev-ucp.us.auth0.com
AUTH0_AUDIENCE=https://dev-ucp.us.auth0.com/api/v2/

# Auth0 Client ID and Secret, found in the Auth0 dashboard -> Applications -> Settings (for the corresponding App).
AUTH0_CLIENT_ID=zTBmxxdxdOiKZNrViPH1I5RTIn39jBwT
AUTH0_CLIENT_SECRET=
