.nameLogosContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form {
  height: 100%;
}

.divider {
  width: 100%;
}

.jobTypesContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textSecondary {
  color: var(--mui-palette-text-secondary);
}

.textError {
  color: var(--mui-palette-error-main);
}
