.container {
  white-space: nowrap;
}

.header {
  align-items: center;
  display: flex;
  gap: 4px;
}

.value {
  color: var(--mui-palette-text-secondary);
  max-width: 156px;
  overflow: hidden;
  text-overflow: ellipsis;
}
