.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nameLogoContainer {
  align-items: flex-end;
  display: flex;
  gap: 24px;
}

.logo {
  height: 48px;
  width: 48px;
  border-radius: 4px;
}

.institutionFields {
  display: flex;
  gap: 20px;
}
