.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  white-space: wrap;
}

.editNameLogoContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nameLogoContainer {
  align-items: center;
  display: flex;
  gap: 24px;
}

.logo {
  max-height: 48px;
  max-width: 48px;
  border-radius: var(--mui-shape-borderRadius);
}

.logoSkeleton {
  &:global(.MuiSkeleton-root) {
    height: 48px;
    width: 48px;
    max-width: unset;
  }
}

.institutionFields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.aggregatorLogo {
  border-radius: var(--mui-shape-borderRadius);
  max-height: 32px;
  max-width: 32px;
}
