.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nameLogoContainer {
  align-items: flex-end;
  display: flex;
  gap: 24px;
}

.logo {
  height: 48px;
  width: 48px;
  border-radius: var(--mui-shape-borderRadius);
}

.institutionFields {
  display: flex;
  gap: 20px;
}

.table {
  &:global(.MuiTableContainer-root) {
    background-color: var(--mui-palette-common-white);
    border: solid 1px var(--mui-palette-divider);
    border-radius: var(--mui-shape-borderRadius);
  }
}

.tableHeadCell {
  align-items: center;
  display: flex;
  gap: 4px;
}
