:root {
  --page-content-margin-bottom: 52px;
  --page-content-margin-top: 52px;
  --page-content-margin-bottom: 56px;
  --drawer-left-padding: 16px;
  --drawer-right-padding: 16px;
  --side-nav-width: 252px;
}
