.institutionLogo {
  width: 32px;
  height: 32px;
}

.aggregatorLogo {
  width: 32px;
  height: 32px;
}

.institutionHeadCell {
  &:global(.MuiTableCell-root) {
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

.institutionCell {
  height: 32px;
}
