.secondaryColor {
  color: var(--mui-palette-text-secondary);
}

.apiKeysCard {
  max-width: 744px;
}

.cardActions {
  &:global(.MuiCardActions-root) {
    padding-left: 16px;
    padding-bottom: 20px;
  }
}

.cardTitle {
  flex: 1;
}

.manageKeysIconButton {
  &:global(.MuiListItemIcon-root) {
    color: var(--mui-palette-common-black);
  }
}

.listItemButton {
  width: 100%;
}

.dialogActions {
  &:global(.MuiDialogActions-root) {
    padding-top: 40px;
  }
}

.list {
  width: 100%;
}
