.iframeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.phoneDimensionsContainer {
  width: 415px;
  height: 852px;
}

.iframe {
  border: none;
  height: 600px;
  width: 500px;
}
