.inputStack {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.multipleInputsRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.testInstitutionContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form {
  height: 100%;
}

.nameLogoContainer {
  align-items: center;
  display: flex;
  gap: 12px;
  width: 100%;
}

.logo {
  height: 40px;
  width: 40px;
}
