.iframeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.phoneDimensionsContainer {
  width: 415px;
  height: 852px;
}

.phoneContent {
  border: none;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.buttonContainer {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
.errorContent {
  padding-top: 25px;
  height: calc(100% - 65px);
}
