.paper {
  &:global(.MuiPaper-root) {
    align-self: center;
    width: 370px;
    padding: 40px;
    background-color: var(--mui-palette-common-white);
    border: solid 1px var(--mui-palette-divider);
    border-collapse: separate;
    border-radius: var(--mui-shape-borderRadius);
  }
}
.button {
  align-self: flex-end;
}
.skeleton {
  &:global(.MuiSkeleton-root) {
    width: 100%;
    max-width: none;
  }
}
