.pageContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 24px;
}

.contentGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 16px;
}

.description {
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  row-gap: 44px;
}
