.pageContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contentGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
}
