name: Unit/Integration tests

on: pull_request

jobs:
  setup-env:
    name: "Load ENV Vars"
    uses: ./.github/workflows/setup-env.yml
    secrets: inherit

  run-jest-tests:
    name: Jest Tests
    runs-on: ubuntu-latest
    needs: [setup-env]

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

    steps:
      - name: Checkout under $GITHUB_WORKSPACE
        uses: actions/checkout@v4

      - name: Set up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          check-latest: true

      - name: Install all dependencies
        run: |
          npm ci

      - name: Setup Postgres Database
        run: /
          npm run test:db:setup

      - name: "Create env file"
        run: |
          ENV_FILE_PATH=./apps/authentication-service/.env
          touch ${ENV_FILE_PATH}

          # Vars
          echo -e "${{ needs.setup-env.outputs.env_vars }}" >> ${ENV_FILE_PATH}
          echo PORT="8089" >> ${ENV_FILE_PATH}

          # Secrets (can't load these from another job, due to GH security features)
          echo AUTH0_CLIENT_SECRET=${{ secrets.AUTH0_CLIENT_SECRET }} >> ${ENV_FILE_PATH}

          cat ${ENV_FILE_PATH}

      - name: Run Jest Tests
        run: npm run test
