name: Unit/Integration tests

on: pull_request

jobs:
  run-jest-tests:
    name: Jest Tests
    runs-on: ubuntu-latest
    needs: [setup-env]

    steps:
      - name: Checkout under $GITHUB_WORKSPACE
        uses: actions/checkout@v4

      - name: Set up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          check-latest: true

      - name: Install all dependencies
        run: |
          npm ci

      - name: 'Create env file'
        run: |
          ENV_FILE_PATH=./apps/authentication-service/.env
          touch ${ENV_FILE_PATH}
          
          # Vars
          echo -e "${{ needs.setup-env.outputs.env_vars }}" >> ${ENV_FILE_PATH}
          echo PORT="8089" >> ${ENV_FILE_PATH}
          
          # Secrets (can't load these from another job, due to GH security features)
          echo AUTH0_CLIENT_SECRET=${{ secrets.AUTH0_CLIENT_SECRET }} >> ${ENV_FILE_PATH}

          cat ${ENV_FILE_PATH}

      - name: Run Jest Tests
        run: npm run test
